<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="rostislav.postspring.mappers.UserMapper">
    <select id="getUser" parameterType="string" resultMap="userMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <resultMap id="userMap" type="User">
        <id property='id' column='id'/>
        <result property='username' column='name'/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="role" column="role"/>
    </resultMap>

    <insert id="createUser" parameterType='User' useGeneratedKeys='true' keyProperty='id'>
        INSERT INTO users(username, email, password, salt, role)
        VALUES (#{username}, #{email}, #{password}, #{salt}, #{role})
    </insert>

    <update id="deactivateUser" parameterType="string">
        UPDATE users
        SET active = false
        WHERE username = #{username}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE
        FROM users
        WHERE id = #{id}
    </delete>
</mapper>